/**
 * NEW / EDIT  TECHNICAL (technical visits/services)
 */
/* Form, general */
#technicalForm{ display:none; position:relative; float:left; height:540px; width:630px; margin-right:20px; border:solid 1px #000030; overflow:hidden; }
#technicalFormBg{ position:absolute; height:650px; width:700px; margin-left:-70px; }
#technicalForm > DIV, #technicalForm > INPUT{ position:absolute; }
#technicalForm > INPUT{ display:block; }
#technicalForm INPUT[type=text]{ margin:1px; padding:3px; border:none; background:none; color:#000000; font-weight:bold; }

/* Save button */
#tch_buttons{ display:none; position:absolute; top:-2px; left:215px; height:66px; width:100px; }
#tch_buttons > DIV{ margin:5px 0px; padding:5px; border:2px solid #fff0d0; background:#204590; text-align:center; font-weight:bold; color:#fff0d0; cursor:pointer;}
#tch_buttons > DIV:hover{ background:#002570; color:#ffffff; }


/* FORM FIELDS: upperheader */
#tch_number{ position:absolute; top:6px; right:15px; height:12px; width:70px; font-size:14px; background:#f0f0f0 !important; border:2px solid #ffcc66 !important; }
#tch_extra{ position:absolute; top:30px; right:15px; text-align:right; }
#tch_date{ position:absolute; top:83px; right:8px; }
#tch_date INPUT{ height:22px; width:27px; margin:0px; text-align:center; }
#tch_extra SELECT{ margin-top:0px; width:117px; background:#f0f0f0 !important; border:2px solid #ffcc66 !important; }

/* FORM FIELDS: lowerheader */
#tch_info_left{ top:123px; left:96px; }
#tch_info_left INPUT{ display:block; height:20px; width:276px; margin-bottom:0px !important; }
#tch_custNumber{ top:128px; right:18px; height:12px; width:110px; background:#ffffff !important; color:#600000; font-weight:bold; font-size:14px; }
.tch_options{ right:33px; }
.tch_options INPUT{ margin:0px; padding:0px !important; margin-left:41px !important; }
#tch_subscribed{ top:157px; }
#tch_warranty{ top:183px; }
#tch_installDate{ top:205px; right:14px; }
#tch_installDate INPUT{ height:14px; width:32px; margin-left:5px; text-align:center; }

/* Search buttons (images) */
.tchSearch{ position:absolute; left:360px; height:16px; width:16px; cursor:pointer; }
#tchSrch_custNumber{ top:130px; left:592px; }
#tchSrch_customer{ top:128px; }
#tchSrch_contact{ top:155px; }
#tchSrch_address{ top:182px; }
#tchSrch_phone{ top:208px; }

/* FORM FIELDS: body, first part */
#tch_body{ top:239px; left:200px; padding:0px; }
#tch_body > DIV{ height:27px; width:421px; margin-bottom:6px; overflow:visible; }
#tch_body INPUT{ position:relative; top:0px; }
#tch_body INPUT[type=text]{ height:19px; width:414px; }
#tch_body SELECT{ height:25px; width:420px; background:#fffeda; }
#tch_body #tch_complete{ float:left; }
#tch_body #tch_complete [type=radio]{ margin:6px 12px 0px 24px; }
#tch_body #tch_ifIncomplete{ left:55px; top:-1px; width:257px; }

/* FORM FIELDS: body, second part */
#tch_body .tch_costLine > INPUT{ top:2px; height:13px; }
#tch_body #tch_cost{ left:24px; width:63px; }
#tch_body #tch_costDollars{ left:66px; width:58px; }
#tch_body #tch_invoice{ left:193px; width:72px; }
#tch_body #tch_order{ top:1px; left:140px; height:13px; width:102px; }
#tch_body #tch_pendingEstimate{ top:3px; left:278px; }
#tch_body .tch_quality > INPUT{ margin:6px 31px 0px 65px; }
#tch_body .tch_quality > #tch_quality_good{ margin-left:53px; }
#tch_body .tch_quality > #tch_quality_excellent{ margin-left:71px; margin-right:-10px !important; }

/* FORM FIELDS: start/end */
#tch_period{ position:absolute; top:508px; left:362px; }
#tch_period > INPUT{ height:14px; width:28px; margin-right:3px; }
#tch_period > INPUT#tch_startsH, #tch_period > INPUT#tch_endsH{ text-align:right; }
#tch_period > INPUT#tch_endsH{ margin-left:101px; }

/* Search save button */
#tch_submit{ display:none; position:absolute; top:610px; left:80px; width:200px; padding:5px 10px; }

/* Suggested results (outside the form itself) */
#tch_suggest_title{ font-size:12px; color:#000000; font-style:italic; text-align:right; }
#tch_suggest{ height:507px; margin-top:20px; background:#f8f8ff; overflow:auto; }
#tch_suggest > DIV{ clear:both; float:right; text-align:right; white-space:nowrap; margin-right:5px; }
.tch_s_customer{ margin-top:10px; color:#300000; font-size:12px; font-weight:bold; }
.tch_s_row{ color:#000090; font-size:11px; font-weight:normal; cursor:pointer; }
.tch_s_noInvoice{ color: #0080a0; margin:3px 5px; font-size:13px; }
.tch_s_contact{ color:#808080; font-size:12px; }
.tch_s_row EM{ color:#606060; font-style:italic; white-space:normal; line-height:1.5em; }
.tch_s_row STRONG{ color:#900000; font-weight:bold; }
.tch_s_empty{ margin-top:200px; color:#600000; font-size:14px; font-weight:bold; text-align:center; }

/**
 * TECHVISITSINFO (technical visits/services)
 */
#techVisitsInfo{ height:545px; width:620px; padding:2px; border:solid 2px #000060; background:#ffffff; text-align:center; overflow:hidden; }
#techVisitsInfo > .button{ margin:8px; }
#techVisitsPDF{ height:580px; width:100%; border:none; }
#techVisitsPrintPDF{ height:0px; width:0px; }