# ignore whole folder
.svn/
(docs)/
/app/images/temp/
/batch/
/forum/

# ignore folder content
/app/images/users/*
/app/images/products/*
/logs/*
/sql/*
/temp/*

# ignore files globally
Thumbs.db

# ignore specific files
/app/chat.php
/app/cfg/local.cfg.php
/update.bat

# do not ignore these files
!/app/images/users/admin.png
!/app/images/users/master.png
!/app/images/users/operator.png
!/app/images/users/user.png
!/sql/backup/
!/sql/crm_minimal.sql
!.gitignore
!README
/log
