# ignore whole folder
.svn/
(docs)/
/app/images/temp/
/batch/
/forum/

# ignore folder content
/app/images/users/*
/app/images/User/*
/app/images/products/*
/app/images/Product/*
/logs/*
/sql/*
/temp/*
/uploads/*/*

# ignore files globally
Thumbs.db

# ignore specific files
/*/chat.php
/*/cfg/local.cfg.php
/update.bat

# do not ignore these files
!/app/images/users/admin.png
!/app/images/users/master.png
!/app/images/users/operator.png
!/app/images/users/user.png
!/sql/backup/
!/sql/crm_minimal.sql
!.gitignore
!README
