RewriteEngine On


RewriteRule ^(.+)\.css$ dynCss.php?path=$0&%{QUERY_STRING} [L,NC]

RewriteRule ^ajax$ index.php?ajax [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?args=$1 [L,NC]
